<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%= title %> </title>
    <link rel="icon" href="../images/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/header-footer.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css">
    <script src="../scripts/main.js"></script>
</head>