<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <title></title>
        <link rel="icon" href="../public/images/favicon.png" type="image/png" sizes="16x16">
        <link rel="stylesheet" type="text/css" href="../public/stylesheets/main.css">
    </head>
    <body>
        <div class="wrap-404 text-center">
            <img src="../public/images/emotiguy.png" class="image-404">
            <h1 class="">
                404-Page Not Found
            </h1>
            <p>The page you are looking formight have been removed, had its name changed or is temporarily unavailable</p>
            <a href=""><button class="btn2">Go back to Home</button></a>
        </div>
    </body>
</html>