<!DOCTYPE html>

<%- include('partials/meta-data') %>

<body>
    <%- include('partials/nav') %>
    <div class="">
        <div class="container">
            <div class="col-sm-6">
                <h1 class="text2 text3">About Us</h1>
                <p class="text2 text4">MyHelpNg is a platform that aims to connect volunteers seeking to offer their
                    skills/expertise and time with NGOs/charity organizations that needs those skills/services.</p>
                <p class="text2 text4">We make it easy for nonprofits to clearly communicate their needs, and for people
                    to give their time, skills or funds in the most effective way possible. By volunteering online,
                    donating funds or even just hitting the “Share” button – supporting great causes can take many
                    shapes and forms, and we’re here to make it all possible.</p>
                <p class="text2 text4">From research most NGO organisations lack sufficient man power and necessary
                    resources to carry out thier goals and reach out to communities in need of help/relief. MyHelperNg
                    aims to bridge the gap by providing a platform where these organisations can get help from
                    volunteers willing to offer their skills and also get Donations from willing donors and
                    philanthropists online.</p>
            </div>
            <div class="col-sm-6">
                <img src="../images/about.png" class="img1" />
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="">
                <h1 class="text5 text10 text-center">WHO IS IT FOR?</h1>
                <p class="text4 text-center">This platform is open to anyone passionate about making the world better.
                </p>
                <div class=" text-center">
                    <div class="col-sm-4">
                        <div class="hvr-float">
                            <div class="size3 text5">
                                <h3 class="text12">NGO's</h3>
                                <p class="text13">This platform can be of help to NGO organizations seeking skills/services
                                     and donations to achieve the organizational goals.</p>
                                <a href="/join/ngo"><button class="contact-btn2">Start</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="hvr-float">
                            <div class="size3 text5">
                                <h3 class="text12">Volunteers</h3>
                                <p class="text13">This platform can also be of help to volunteers who want to offer their
                                     time and skills in service for free.</p>
                                <a href="/join/volunteer"><button class="contact-btn2">Volunteer</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="hvr-float">
                            <div class="size3 text5">
                                <h3 class="text12">Philantropists</h3>
                                <p class="text13"> The platform can also be a means to contribute to worthy NGOs for those
                                     seeking to make donations.</p>
                                <a href="/join"><button class="contact-btn2">Donate</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container"></div>
    <%- include('partials/footer') %>
</body>