<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Donate</title>
        <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css"> 
        <link rel="stylesheet" href="../public/stylesheets/login-signup.css"> 
    </head>
    <body>
        <div id="logo">
            <a href="index.html"><img src="https://res.cloudinary.com/belrah/image/upload/v1590359511/logo_lr7cko.png" class="logo-login" alt="logo"></a>
        </div>
        <div class="text-center" style="padding:10px 20px">
            <h1>Join Us to Support More Inspiring Cause across Nigeria.</h1>
            <p>Donate today to reach out to the communities you love and care about</p>
        </div>
        <div class="col-md-12" id="donor-signup-part">
            <div class="col-md-6">
                <img src="../public/images/donor.png" class="signup-image">
            </div>
            <div class="col-md-6">
                <div class="card-view">
                    <h1 class="text-center text1">Donate Funds to an NGO</h1>
                    <p class="text-center text2">Fill the form below to donate funds</p>
                    <form method="" action="">
                        <input class="input-group" type="text" placeholder="NAME">
                        <input class="input-group" type="text" placeholder="EMAIL">
                        <input class="input-group" type="text" placeholder="AMOUNT">
                        <input class="input-group" type="text" placeholder="CARD NUMBER">
                        <input class="input-group" type="text" placeholder="MM/YY">
                        <input class="input-group" type="text" placeholder="CODE">
                        <input class="signup-btn" type="submit" value="Donate">
                    </form>
                </div>
            </div>
        </div>
        <script src="../public/scripts/login-signup.js"></script>
    </body>
</html>