<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up to have an account</title>
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/login-signup.css">
</head>

<body>
    <div>
        <img src="../images/logo.png" class="logo-login">
    </div>

    <div class="col-md-12 hide" id="donor-signup-part">
        <div class="col-md-6">
            <img src="../images/donor.png" class="ngo-signup-image signup-image">
        </div>
        <div class="col-md-6">
            <div class="card-view">
                <h1 class="text-center text1">Dononate</h1>
                <p class="text-center text2">Fill the form below to join as a Donor</p>
                <form method="" action="">
                    <input class="input-group" type="text" placeholder="Name">
                    <input class="input-group" type="text" placeholder="Email">
                    <input class="input-group" type="text" placeholder="Address">
                    <select class="input-group" placeholder="State">
                        <option>State</option>
                        <option>Lagos</option>
                        <option>Ogun</option>
                        <option>Abuja</option>
                    </select>
                    <input class="input-group" type="password" placeholder="Password">
                    <input class="input-group" type="password" placeholder="Confirm Password">
                    <input class="signup-btn" type="submit" value="Join">
                    <p class="text-center text4 text4a"><a href="login.html">Already joined? If yes, login</a></p>
                </form>
            </div>
        </div>
    </div>
</body>

</html>