<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../stylesheets/login-signup.css">
</head>
<%- include('partials/meta-data') %>

<body>
    <%- include('partials/nav') %>
    <div class="text-center" style="padding:10px 20px">
        <h1>Join Us to Support More Inspiring Cause across Nigeria.</h1>
        <p class="text4">Donate today to reach out to the communities you love and care about</p>
    </div>
    <div class="col-md-12" id="donor-signup-part">
        <div class="col-md-6">
            <img src="../images/donor.png" class="signup-image">
        </div>
        <div class="col-md-6">
            <div class="card-view">
                <h1 class="text-center text1"><%= ngo.ngo_name %> </h1>
                <p class="text-center text2">MyHelperNg secures your online payments</p>
                <form method="" action="">
                    <input class="input-group" type="text" placeholder="NAME">
                    <input class="input-group" type="text" placeholder="EMAIL">
                    <input class="input-group" type="text" placeholder="AMOUNT">
                    <input class="input-group" type="text" placeholder="CARD NUMBER">
                    <input class="input-group" type="text" placeholder="MM/YY">
                    <input class="input-group" type="password" placeholder="CODE">
                    <input class="signup-btn" type="submit" value="Donate">
                </form>
            </div>
        </div>
    </div>
    <div class="container"></div>
    <%- include('partials/footer') %>

    <script src="../scripts/login-signup.js"></script>
</body>

</html>