<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../stylesheets/login-signup.css">
</head>
<%- include('partials/meta-data') %>

<body>
    <%- include('partials/nav') %>
    <div>
        <a href="/"><img src="../images/logo.png" class="logo-login"> </a>
    </div>
    <div id="signup-intro" class="container">
        <div class="col-xs-12">
            <div class="col-sm-6">
                <div class="card-view">
                    <h1 class="text-center text5">Login as a Volunteer</h1>
                    <p class="text-center text4 text4a">No charges Apply</p>
                    <p class="text-center text4">Your chance to make a difference</p>
                    <a href="/login/volunteer"><button id="volunteer-join" class="signup-btn">Login</button></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card-view">
                    <h1 class="text-center text5">Login as NGO</h1>
                    <p class="text-center text4 text4a">No charges Apply</p>
                    <p class="text-center text4">You chance to make an impact in the society</p>
                    <a href="/login/ngo"><button id="ngo-join" class="signup-btn">Login</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container"></div>
    <%- include('partials/footer') %>
</body>

</html>