<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up to have an account</title>
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/login-signup.css">
</head>

<body>
    <div id="messages">
        <% Object.keys(messages).forEach(function (type) { %>
        <% messages[type].forEach(function (message) { %>
        <center>
            <div style="width: 50%;" class="alert alert-success"><%= message %></div>
        </center>
        <% }) %>
        <% }) %>
    </div>

</body>