<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NGO Dashboard</title>
    <link rel="icon" href="../images/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/header-footer.css">
    <link rel="stylesheet" href="../public/stylesheets/volunteer-dashboard.css">
    <link rel="stylesheet" href="../public/stylesheets/ngo-dashboard.css">
    <script src="../public/scripts/main.js"></script>
    <script src="../public/scripts/ngo-dashboard.js"></script>
</head>

<body>
    <%- include('partials/nav') %>

    <div class="col-sm-12 col-md-12 col-lg-12">

    </div>
    <div class="container"></div>
    <%- include('partials/footer') %>
</body>

</html>