<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NGO Dashboard</title>
    <link rel="icon" href="../images/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/header-footer.css">
    <link rel="stylesheet" href="../public/stylesheets/volunteer-dashboard.css">
    <link rel="stylesheet" href="../public/stylesheets/ngo-dashboard.css">
    <script src="../public/scripts/main.js"></script>
    <script src="../public/scripts/ngo-dashboard.js"></script>
</head>

<body>
    <%- include('partials/nav') %>

    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="col-sm-8 col-md-9 col-lg-10" id="profile">
            <!--Profile column-->
            <div class="card-view-3">
                <img src="../public/images/pic1.jpg" class="img-responsive"  style="width: 100%;">
                <h1 class="text9">UCESCO</h1>
                <hr>
                <div class="col-md-6">
                    <p class="text8 text7">Email</p>
                    <p class="text7">tobilobaolugbemi@gmail.com</p>
                </div>
                <div class="col-md-6">
                    <p class="text8 text7">Phone Number</p>
                    <p  class="text7">08152332889</p>
                </div>
                <p class="text8 text7" style="padding-left: 20px;">Interests</p>
                <ul>
                    <li  class="text7">CHILD CARE</li>
                    <li  class="text7">ANIMAL CARE</li>
                    <li  class="text7">FUND RAISING</li>
                </ul>
                <hr>
                <div class="col-md-6">
                    <p class="text8 text7">We provide</p>
                    <p class="text7">Accomodation, meals</p>
                </div>
                <div class="col-md-6">
                    <p class="text8 text7">Our fees</p>
                    <p  class="text7">No fees</p>
                </div>
                <div style="padding-left: 20px;">
                <p class="text8 text7">What we need</p>
                <p class="text7">Descriptin of volunteers work goes here</p>
                <p class="text8 text7">When we need volunteers</p>
                <p class="text7">Description time we need volunteers work goes here</p>
                <button class="header-btn">Join Nonprofit</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2" id="profile">
            <div class="card-view">
                <h4>
                    Donate into this NGO account
                </h4>
                <button class="header-btn">DONATE</button>
            </div>
        </div>
    </div>
    <div class="container"></div>
    <%- include('partials/footer') %>
</body>

</html>