<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../stylesheets/login-signup.css">
</head>
<%- include('partials/meta-data') %>


<body>
    <%- include('partials/nav') %>
    <div>
        <a href="/"><img src="../images/logo.png" class="logo-login"> </a>
    </div>
    <div id="signup-intro" class="container">
        <div class="col-xs-12">
            <h1 class="text3 text-center"> Join MyHelperNG</h1>
            <p class="text4 text-center">MyHelperNG is a platform where we match NGO's to the appropriate volunteers for
                the greater good.</p>
            <p class="text4 text-center">You can reach out to those in need by donating</p>
            <button id="donor-join" class="signup-btn">Donate</button>
            <div class="col-sm-6">
                <div class="card-view-2">
                    <h1 class="text-center text5">Join as a Volunteer</h1>
                    <p class="text-center text4 text4a">No charges Apply</p>
                    <p class="text-center text4">Find organisations where your skills are needed and you can make a
                        difference</p>
                    <a href="/join/volunteer"><button id="volunteer-join" class="signup-btn">Join today</button></a>
                    <hr>
                    <ul class="text4">
                        <li class="ul-info">Find organizations your skills are needed</li>
                        <li class="ul-info">Join organizations to be an active volunteer</li>
                        <li class="ul-info">Interact with with other volunteers like you</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card-view-2">
                    <h1 class="text-center text5">Join as NGO</h1>
                    <p class="text-center text4 text4a">No charges Apply</p>
                    <p class="text-center text4">Find volunteers who are ready to join you in making impact in the
                        society</p>
                    <a href="/join/ngo"><button id="ngo-join" class="signup-btn">Join today</button></a>
                    <hr>
                    <ul class="text4">
                        <li class="ul-info">Find volunteers that match the skill set your organisation needs</li>
                        <li class="ul-info">Have more volunteers in your organisation</li>
                        <li class="ul-info">Interact with volunteers to know if they suite what your organisation
                            needs
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container"></div>
    <%- include('partials/footer') %>
</body>

</html>